
<nav class="navbar navbar-expand-md nav-light"
        style="background: linear-gradient(90deg, #009688, #43a047); color: #ffffff; padding: 15px 0; box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);">
        <div class="container-fluid">
                <a class="navbar-brand me-lg-5" href="/"
                        style="display: flex; align-items: center; color: #ffffff; text-decoration: none;">
                        <img src="https://cdn-icons-png.flaticon.com/512/2631/2631389.png" alt="Logo" width="35"
                                height="35" class="d-inline-block align-text-top"
                                style="margin-right: 10px; border-radius: 50%; overflow: hidden;" />
                        <span class="text-center fw-bold">Employee Review System</span>
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation"
                        style="border: none; outline: none; background-color: #ffffff; padding: 8px; border-radius: 5px;">
                        <span class="navbar-toggler-icon" style="background-color: #000;"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <% if(locals.user) { %>
                                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-5">
                                        <li class="nav-item ms-lg-4">
                                                <a class="nav-link fw-bold" aria-current="page" href="/"><i
                                                                class="fa-solid fa-house"></i> Home</a>
                                        </li>
                                        <% if(locals.user.role==='admin' ) { %>
                                                <li class="nav-item ms-lg-4">
                                                        <a class="nav-link fw-bold" aria-current="page"
                                                                href="/add-employee"><i class="fa-solid fa-plus"></i>
                                                                Add Employee</a>
                                                </li>
                                                <% } %>
                                </ul>

                                <form class="d-flex justify-content-end align-items-center" style="display: flex;">
                                        <div class="btn btn-warning rounded-pill fw-bold"
                                                style="background-color: #ffc107; color: #ffffff; margin-right: 10px; padding: 8px 20px; border-radius: 25px;">
                                                <i class="fa-solid fa-user" style="margin-right: 5px;"></i>
                                                <%= user.username %>
                                        </div>
                                        <a class="btn btn-danger rounded-pill fw-bold" href="/sign-out"
                                                style="background-color: #dc3545; color: #ffffff; padding: 8px 20px; border-radius: 25px;">
                                                <i class="fa-solid fa-arrow-right-from-bracket"
                                                        style="margin-right: 5px;"></i>
                                                Sign Out
                                        </a>
                                </form>
                                <% } %>
                </div>
        </div>
</nav>