<style>
    body {
        background-color: #f8f9fa;
        font-family: 'Arial', sans-serif;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }

    .form-container {
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        width: 100%;
        max-width: 400px;
    }

    h3 {
        color: #007bff;
    }

    label {
        color: #495057;
    }

    input {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ced4da;
        border-radius: 5px;
        box-sizing: border-box;
    }

    button {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 12px;
        border-radius: 5px;
        cursor: pointer;
    }

    button:hover {
        background-color: #0056b3;
    }

    hr {
        border: 0;
        clear: both;
        display: block;
        width: 100%;
        background-color: #ddd;
        height: 1px;
        margin: 1em 0;
        padding: 0;
    }

    .text-center {
        margin-top: 15px;
        color: #6c757d;
    }

    a {
        color: #007bff;
        text-decoration: none;
        font-weight: bold;
    }

    a:hover {
        text-decoration: underline;
    }
</style>

<div class="d-flex justify-content-center p-4 p-md-0">
    <form class="rounded p-3 col-12 col-md-4 my-4 shadow-lg" method="POST" style="" action="/create-session">
        <h3 class="mb-4 text-center">Sign in</h3>
        <!-- Email input -->
        <div class="form-outline mb-3">
            <label class="form-label" for="email">Email Address</label>
            <input type="email" id="email" placeholder="Enter Email Address" name="email" class="form-control" />
        </div>

        <!-- Password input -->
        <div class="form-outline mb-3">
            <label class="form-label" for="password">Password</label>
            <input type="password" placeholder="Enter Password" id="password" name="password" class="form-control" />
        </div>

        <div>
            <!-- Login button -->
            <button type="submit" class="btn btn-primary btn-block fw-semibold" style="width: 100%">
                LOGIN
            </button>
        </div>
        <div>
            <hr />
        </div>

        <!-- Link to redirect to signup page -->
        <div class="text-center">
            <p>Not an user? <a href="/sign-up">Register</a></p>
        </div>
    </form>
</div>